<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>获取课表</title>
</head>
<body>
<button type="button" id="button" onclick="javascript:window.setTimeout(window.open(location.href='https://jwgl.bupt.edu.cn'),400)">登录教务</button>
<div class="container-fluid p-0">
    <iframe id="content" src="https://jwgl.bupt.edu.cn"></iframe>
</div>

<script>
    $("#button").onclick(function (){
        $("#content"),prop("src","/home")
        }
    )
</script>

</body>
</html>